.embla {
  max-width: 100%;
  margin-bottom: auto;
  display: "flex";
  height: 100%;
  justify-content: center;
  align-items: center;
  --slide-height: 98%;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  gap: 20px;
  touch-action: pan-y pinch-zoom;
}
.embla__slide {
  flex: 0 0 calc(var(--slide-size));
  height: auto;
  width: 100%;
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  width: 100%;
}
.embla-thumbs {
  --thumbs-slide-spacing: 0.8rem;
  --thumbs-slide-height: 6rem;
  height: 100px;
}
.embla-thumbs__viewport {
  overflow: hidden;
}
.embla-thumbs__container {
  display: flex;
  flex-direction: row;
  margin-left: calc(var(--thumbs-slide-spacing) * -1);
  height: 100%;
}
.embla-thumbs__slide {
  flex: 0 0 25%;
  min-width: 0;
  padding-left: var(--thumbs-slide-spacing);
}

@media (min-width: 576px) {
  .embla-thumbs__slide {
    flex: 0 0 15%;
  }
}

.embla-thumbs__slide__number {
  border-radius: 1.8rem;
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--detail-high-contrast);
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  filter: brightness(40%);
}
.embla-thumbs__slide__number:hover {
  filter: brightness(100%);
}
.embla-thumbs__slide--selected .embla-thumbs__slide__number {
  filter: brightness(100%);
}
